@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@300&display=swap");
@import "../../sass/variables.scss";

.div-header {
  background: radial-gradient(circle at top left, #ff5b00, #fac213);
  border-radius: $main-border-radius;
  margin-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vw;
  width: $mainWidth;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 5vw 1vw 5vw;
  }

  .div-header-2 {
    padding-right: 32vw;
    padding-left: 33vw;

    .titulo-header {
      font-family: "Lobster", cursive;
      color: rgb(234, 237, 215);
      font-size: 3vw;
      margin: 0;
    }
  }

  .icons {
    color: rgb(234, 237, 215);
    font-size: 4vh;
    cursor: pointer;
  }

  .icons-search {
    color: rgb(234, 237, 215);
    font-size: 4vh;
    padding-right: 1vw;
    cursor: pointer;
  }
}
