@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@300&display=swap");
@import "../../sass/variables.scss";

.div-header {
  background: radial-gradient(circle at top left, #ff5b00, #fac213);
  border-radius: $main-border-radius;
  margin-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vw;
  width: $mainWidth;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 5vw 1vw 5vw;
  }

  .div-header-2 {
    padding-right: 18vw;
    padding-left: 28vw;

    .titulo-header {
      font-family: "Lobster", cursive;
      color: rgb(234, 237, 215);
      font-size: 3vw;
      margin: 0;
    }
  }

  .icons {
    color: rgb(234, 237, 215);
    font-size: 3vw;
    cursor: pointer;
  }

  .div-icons {
    display: flex;
    width: 12vw;
    .icons-search {
      color: rgb(234, 237, 215);
      font-size: 3vw;
      padding-right: 1vw;
      cursor: pointer;
    }

    .input-search-hidden {
      margin-right: 1vw;
      border-radius: 2vw;
      width: 0vw;
      height: 2.2vw;
      border: none;
      visibility: hidden;
    }

    .input-search {
      animation-name: animation-input-search;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      background-color: white;
      visibility: visible;
    }

    @keyframes animation-input-search {
      100% {
        width: 14vw;
      }
    }
  }
}
